{% extends 'base.html.twig' %}

{% block content %}

<div class="text-center">

    <h1 class="text-center text-alert">{{contents.title}}</h1>

    <hr>

    <p class="text-center text-alert">{{contents.content}}</h1>

</div>

{% endblock %}